@use "constants" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 1rem;
}

.header {
  margin: 0;
  font-family: var(--font-display);
  font-size: 7rem;
  font-weight: 600;
  min-height: 30vh;
  font-style: italic;
  letter-spacing: 1rem;
  text-align: center;

  @include phone {
    font-size: 4rem;
    letter-spacing: .5rem;
  }
}

.explanation {
  font-size: 1.5rem;
}

.muted {
  margin: 0;
  color: var(--color-muted);
}


.hero {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  min-height: 60vh;

  @include phone {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .explanation {
    margin: 0;
  }

  @include phone {
    align-items: center;
    text-align: center;
  }
}

.addPizza {
  padding-top: 2rem;
  min-height: 20vh;
}

.cta {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 3rem;
  text-decoration: none;
  text-wrap: nowrap;
  text-transform: uppercase;
  background: var(--color-sec);
  color: var(--color-on-sec);
}
